In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\Dell\Downloads\customer_churn (5).csv')

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [37]:
data_ = data.loc[:,['Churn','Contract','PaymentMethod']]

In [39]:
data_.head(5)

  Churn        Contract              PaymentMethod
0    No  Month-to-month           Electronic check
1    No        One year               Mailed check
2   Yes  Month-to-month               Mailed check
3    No        One year  Bank transfer (automatic)
4   Yes  Month-to-month           Electronic check

In [74]:
filter1 = data['Churn'].isin(['Yes'])

In [75]:
filter2 = data['PaymentMethod'].isin(['Mailed check'])

In [78]:
data = data_[filter1 & filter2]

In [82]:
data['Contract'].unique()

array(['Month-to-month', 'Two year', 'One year'], dtype=object)

In [87]:
filter1 = data['Contract'] == 'Two year'

In [88]:
data[filter1]

     Churn  Contract PaymentMethod
268    Yes  Two year  Mailed check
5947   Yes  Two year  Mailed check
6680   Yes  Two year  Mailed check

In [89]:
two_mail_yes = data[filter1]

In [91]:
data.head(333)

     Churn        Contract PaymentMethod
2      Yes  Month-to-month  Mailed check
22     Yes  Month-to-month  Mailed check
29     Yes  Month-to-month  Mailed check
97     Yes  Month-to-month  Mailed check
139    Yes  Month-to-month  Mailed check
151    Yes  Month-to-month  Mailed check
176    Yes  Month-to-month  Mailed check
223    Yes  Month-to-month  Mailed check
227    Yes  Month-to-month  Mailed check
232    Yes  Month-to-month  Mailed check
235    Yes  Month-to-month  Mailed check
248    Yes  Month-to-month  Mailed check
268    Yes        Two year  Mailed check
274    Yes  Month-to-month  Mailed check
284    Yes  Month-to-month  Mailed check
299    Yes  Month-to-month  Mailed check
334    Yes  Month-to-month  Mailed check
381    Yes  Month-to-month  Mailed check
385    Yes  Month-to-month  Mailed check
408    Yes  Month-to-month  Mailed check
409    Yes  Month-to-month  Mailed check
430    Yes  Month-to-month  Mailed check
446    Yes  Month-to-month  Mailed check
546    Yes  Month-to-month  Mailed check
580    Yes  Month-to-month  Mailed check
581    Yes  Month-to-month  Mailed check
595    Yes  Month-to-month  Mailed check
611    Yes  Month-to-month  Mailed check
646    Yes  Month-to-month  Mailed check
651    Yes  Month-to-month  Mailed check
...    ...             ...           ...
6360   Yes  Month-to-month  Mailed check
6377   Yes  Month-to-month  Mailed check
6388   Yes  Month-to-month  Mailed check
6401   Yes  Month-to-month  Mailed check
6428   Yes  Month-to-month  Mailed check
6444   Yes        One year  Mailed check
6489   Yes  Month-to-month  Mailed check
6527   Yes  Month-to-month  Mailed check
6529   Yes  Month-to-month  Mailed check
6542   Yes  Month-to-month  Mailed check
6609   Yes  Month-to-month  Mailed check
6612   Yes  Month-to-month  Mailed check
6680   Yes        Two year  Mailed check
6718   Yes  Month-to-month  Mailed check
6746   Yes  Month-to-month  Mailed check
6762   Yes  Month-to-month  Mailed check
6772   Yes        One year  Mailed check
6789   Yes  Month-to-month  Mailed check
6796   Yes  Month-to-month  Mailed check
6800   Yes        One year  Mailed check
6838   Yes  Month-to-month  Mailed check
6846   Yes  Month-to-month  Mailed check
6896   Yes  Month-to-month  Mailed check
6969   Yes  Month-to-month  Mailed check
6980   Yes  Month-to-month  Mailed check
6999   Yes  Month-to-month  Mailed check
7001   Yes  Month-to-month  Mailed check
7011   Yes  Month-to-month  Mailed check
7018   Yes  Month-to-month  Mailed check
7041   Yes  Month-to-month  Mailed check

[308 rows x 3 columns]

In [92]:
customer_333 = data.head(333)

In [93]:
data['Churn'].unique()

array(['Yes'], dtype=object)